.App-logo {
  height: calc(30px + 2vmin);
}

.box-style{
  width: 50vw;
}

.App-header {

  background-color: #333333;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10vh;
  font-family: ui-sans-serif;
  color: #990000;
}

.App-body {
  background-color: #999999;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #990000;
}

.App-chatbox{
  text-align: center;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-button0 {
  display: flex;
  background-color: #550000;
  height: 6vh;
  border-radius: 20%;
  border-color: #550000;
  font-size: 1vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #999999;
  flex-direction: row;
  width: 5vw;
}

.App-button2 {
  align-self: center;
  display: flex;
  background-color: #550000;
  height: fit-content;
  border-radius: 10px;
  border-color: #550000;
  font-size: 3vh;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #999999;
  flex-direction: column;
  width: 30vw;
}

.App-button-holder {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.App-input_box {
  background-color: #999999;
  height: 4.5vh;
  font-size: calc(5px + 2vmin);
  color: #000000;
  width: 65vw;
  display: flex;
  flex-direction: row;
}

.App-link {
  color: #999999;
}

.App-scroller{
  background-color: #999999;
  align-items: self-start;
  justify-content: left;
  border: 1px solid #999999;
  text-align: left;
  text-wrap: normal;
  font-size: calc(5px + 2vmin);
  height: 50vh;
  width: 70vw;
  max-height: calc(600px + 2vmin);
  display: flex;
  flex-direction: row;
  overflow: auto;
}

.App-scroller span {
  align-self: flex-end;
  align-items: self-start;
  justify-content: left;
}

.App-form{
  background-color: #333333;
  height: fit-content;
  display: flex;
  flex-direction: row;
  width: 70vw;
  align-items: center;
  justify-content: left;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #660000;
  opacity: 1; /* Firefox */
}


.react-chatbot-kit-chat-container {
}

.react-chatbot-kit-chat-inner-container {
  background-color: #888888;
}

.react-chatbot-kit-chat-header {
}

.react-chatbot-kit-chat-input-container {
}

.react-chatbot-kit-chat-message-container {
}

.react-chatbot-kit-chat-input {
}

.react-chatbot-kit-chat-input-form {
}

.react-chatbot-kit-chat-input::placeholder {
}

.react-chatbot-kit-chat-btn-send {
}

.react-chatbot-kit-chat-btn-send-icon {
}

.react-chatbot-kit-chat-bot-message-container {
}

.react-chatbot-kit-chat-bot-avatar-container {
}

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.react-chatbot-kit-chat-bot-message {
}

.react-chatbot-kit-chat-bot-message-arrow {
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
}

#chatbot-loader #chatbot-loader-dot1 {
}

#chatbot-loader #chatbot-loader-dot2 {
}

#chatbot-loader #chatbot-loader-dot3 {
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
